* {
  font-family: monospace;
  font-size: 17px;

}

#recipes-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: lighter;
  font-family: sans-serif;
}

#pics {
  margin-top: 40px;
}

div.img-div {
  max-width: 300px;
  margin: 15px 0px 60px 0px;
  display: inline-block;
}

p {
  width: 100%;
  max-width: 285px;
  text-align: left;
  margin: 0;
  line-height: 1.7;
}

.img-div p {
  font-weight: bold;

}

#selection {
  margin-top: 15px;
}


#selection p {
  max-width: 800px;
}

#selection span {
  font-size: 19px;
  font-weight: bold;
}

img {
  width: 100%;
  max-width: 300px;
  margin: 10px 0px 15px 0px;

}

input {
  width: 135px;
  padding: 5px 5px;
  border: 1px black solid;
}

input#timeFood {
  margin-left: 10px;
}

input:focus {
  outline:none;
}

a#submitMe, a.linkRecipe {
  margin-left: 10px;
  text-decoration: none;
  color: black;
  border: 1px black solid;
  padding: 5px 6px;
}

a.linkRecipe {
  margin: 0;
}

a#submitMe:hover, a.linkRecipe:hover {
  background: black;
  color: white;
}
